<!DOCTYPE html>
<html>
<head>
  <title>爽捷科技</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="pragma" content="no-cache">
<!--   <meta name="viewport" content="width-device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no, minimal-ui">
 -->
 <link rel="shortcut icon" href="../source/favicon.ico">
  <link href="logo.ico" rel="shortcut icon" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
  <div class="header">
    <div class="logo">
      <div class="logo-text">
        <span>简单，创新</span>
        <span>爽捷科技</span>
      </div>
    </div>
    <ul class="nav clear_float header_a">
      <li>
        <a href="">首页</a>
      </li>
<!--       <li>
        <a href="./posts/index.html">产品</a>
      </li> -->
      <li>
        <a href="./about/index.html">关于</a>
      </li>
      <li>
        <a href="./about/contact.html">联系我们</a>
      </li>
    </ul>
  </div>
  <div class="body">
    <div class="content">
      <div class="billboard">
        <div class="img" id="min-billboard-img">
          <img src="../source/2.jpg" data-index="1" onclick="javascript: window.open('../source/2.1.jpg');">
          <img src="../source/4.jpg" data-index="2" onclick="javascript: window.open('../source/4.1.jpg');">
          <img src="../source/3.jpg" data-index="3" onclick="javascript: window.open('../source/3.1.jpg');">
        </div>
        <div class="little-btn">
          <div class="no-margin-left"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </div>
      <div class="min-projects" id="min-projects">
        <div class="list-title"><span>部分产品 projects</span></div>
        <div class="list">
          <div class="item">
            <a >
              <img src="../source/ajkg/1.1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/ajkg/1.pdf" target="_blank">按键开关</a>
            </div>
          </div>
          <div class="item">
            <a>
              <img src="../source/qc/1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/qc/1.pdf" target="_blank">轻触开关</a>
            </div>
          </div>
          <div class="item">
            <a>
              <img src="../source/qx/1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/qx/1.pdf" target="_blank">船型开关HS6</a>
            </div>
          </div>
          <div class="item">
            <a>
              <img src="../source/yt/1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/yt/1.pdf" target="_blank">摇头开关</a>
            </div>
          </div>
          <div class="item">
            <a>
              <img src="../source/yt/1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/yt/1.pdf" target="_blank">滑动开关</a>
            </div>
          </div>
          <div class="item">
            <a>
              <img src="../source/bm/1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/bm/1.pdf" target="_blank">拨码开关</a>
            </div>
          </div>
          <div class="item">
            <a>
              <img src="../source/sj/1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/sj/1.pdf" target="_blank">旋转开关</a>
            </div>
          </div>
          <div class="item">
            <a>
              <img src="../source/2U/1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/bm/2U.pdf" target="_blank">摇头开关2U</a>
            </div>
          </div>
          <div class="item">
            <a>
              <img src="../source/T80/1.jpg" width="320" height="320">
            </a>
            <div class="shadow">
              <a href="../source/XWRJ/1.pdf" target="_blank">翘板开关T80</a>
            </div>
          </div>
        </div>
        <a href="" class="more">查看更多</a>
      </div>
     </div>
  </div>
  <div class="footer">
    <div class="content">
      <div class="left">
        <div class="middle-text">
          <p>爽捷科技</p>
          <p class="phone">13802401039</p>
        </div>
      </div>
      <div class="middle">
        <p>东莞市爽捷电子有限公司 |  13802401039@163.com</p>
      </div>
    </div>
  </div>
</body>
</html>
