<!DOCTYPE html>
<html>
<head>
  <title>爽捷科技</title>
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
  <div class="header">
    <div class="logo">
      <div class="logo-text">
        <span>简单，创新</span>
        <span>爽捷科技</span>
      </div>
    </div>
    <ul class="nav clear_float header_a">
      <li>
        <a href="">首页</a>
      </li>
      <li>
        <a href="./posts/index.html">产品</a>
      </li>
      <li>
        <a href="./about/index.html">关于</a>
      </li>
      <li>
        <a href="./about/contact.html">联系我们</a>
      </li>
    </ul>
  </div>
  <div class="body">
    <div class="content">
      <div class="billboard">
        <div class="img" id="min-billboard-img">
          <img src="../image/image1.webp" data-index="1">
          <img src="http://oh3mb2ots.qnssl.com/xdl/posts/imagesw/84445487d323d4ba1cfca97418431a30ca7939b0.jpg" data-index="2">
          <img src="http://cache.xiadele.com/bjj/xdl/posts/images/33b9af16bbc08a84d3bfc775bf8917c7674e7bfc.jpeg" data-index="3">
        </div>
        <div class="little-btn">
          <div class="no-margin-left"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </div>
      <div class="min-projects" id="min-projects">
        <div class="list-title"><span>主打产品 projects</span></div>
        <div class="list">
          <div class="item">
            <a>
              <img src="http://cache.xiadele.com/bjj/xdl/posts/images/33b9af16bbc08a84d3bfc775bf8917c7674e7bfc.jpeg/imagescover/0ff9ef48bd9eb3a9a1a14ec0b67bb0a349c6e5c1?imageView2/1/w/520/h/400">
            </a>
            <div class="shadow">
              插座开关
            </div>
          </div>
          <div class="item">
            <a>
              <img src="http://cache.xiadele.com/bjj/xdl/posts/images/9da338cdf8ce2959bb60460500787333b7f863b1.jpeg/imagescover/5600d73a7420905ab40a7fc88df8d9c6b3bb49cd?imageView2/1/w/520/h/400">
            </a>
          </div>
          <div class="item">
            <a>
              <img src="http://cache.xiadele.com/bjj/xdl/posts/images/51d9a5e2e25a81ce5462c69f60fac8b3db8227e7.jpeg/imagescover/2e66beae0273cd979c757cc673c0b4de67e78b6d?imageView2/1/w/520/h/400">
            </a>
          </div>
          <div class="item">
            <a>
              <img src="http://cache.xiadele.com/bjj/xdl/posts/images/33b9af16bbc08a84d3bfc775bf8917c7674e7bfc.jpeg/imagescover/0ff9ef48bd9eb3a9a1a14ec0b67bb0a349c6e5c1?imageView2/1/w/520/h/400">
            </a>
            <div class="content"></div>
          </div>
          <div class="item">
            <a>
              <img src="http://cache.xiadele.com/bjj/xdl/posts/images/9da338cdf8ce2959bb60460500787333b7f863b1.jpeg/imagescover/5600d73a7420905ab40a7fc88df8d9c6b3bb49cd?imageView2/1/w/520/h/400">
            </a>
          </div>
          <div class="item">
            <a>
              <img src="http://cache.xiadele.com/bjj/xdl/posts/images/51d9a5e2e25a81ce5462c69f60fac8b3db8227e7.jpeg/imagescover/2e66beae0273cd979c757cc673c0b4de67e78b6d?imageView2/1/w/520/h/400">
            </a>
          </div>
        </div>
        <a href="" class="more">查看更多</a>
      </div>
     </div>
  </div>
  <div class="footer">
    <div class="content">
      <div class="left">
        <div class="middle-text">
          <p>爽捷科技</p>
          <p class="phone">13802401039</p>
        </div>
      </div>
      <div class="middle">
        <p>东莞市爽捷电子有限公司 |  13802401039@163.com</p>
      </div>
    </div>
  </div>
</body>
</html>
