<!DOCTYPE html>
<html>
<head>
  <title>爽捷科技</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="pragma" content="no-cache">
<!--   <meta name="viewport" content="width-device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no, minimal-ui">
 -->
 <link rel="shortcut icon" href="../source/favicon.ico">
  <link href="logo.ico" rel="shortcut icon" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
  <div class="header">
    <div class="logo">
      <div class="logo-text">
        <span>广州协雄贸易</span>
        <span>有限公司</span>
      </div>
    </div>
    <ul class="nav clear_float header_a">
      <li>
        <a href="">首页</a>
      </li>
<!--       <li>
        <a href="./posts/index.html">产品</a>
      </li> -->
      <li>
        <a href="./views/about/index.html">关于</a>
      </li>
      <li>
        <a href="./views/about/contact.html">联系我们</a>
      </li>
    </ul>
  </div>
  <div class="body">
    <div class="content">
      <div class="billboard">
        <div class="img" id="min-billboard-img">
          <img src="../source/ajkg/q1.jpg" data-index="1" onclick="javascript: window.location.href='./about/contact.html';">
          <!-- <img src="../source/4.jpg" data-index="2" onclick="javascript: window.open('../source/4.1.jpg');">
          <img src="../source/3.jpg" data-index="3" onclick="javascript: window.open('../source/3.1.jpg');"> -->
        </div>
      </div>
      <div class="min-projects" id="min-projects">
        <div class="list-title"><span>产品图示 pictures</span></div>
        <div class="list">
          <!-- <img src="../source/ajkg/q1.jpg" > -->
          <div class="item">
            <a >
              <img src="../source/ajkg/751.jpg" heigh="600px" width="600px" >
            </a>
          </div>
          <div class="item">
            <a >
              <img src="../source/ajkg/752.jpg" heigh="600px" width="600px" >
            </a>
          </div>
          <div class="item">
            <a >
              <img src="../source/ajkg/753.jpg" heigh="600px" width="600px" >
            </a>
          </div>
          <div class="item">
            <a >
              <img src="../source/ajkg/764.jpg" heigh="600px" width="600px" >
            </a>
          </div>
        </div>
      </div>
     </div>
  </div>
  <div class="footer">
    <div class="content">
      <div class="left">
        <div class="middle-text">
          <p>协雄贸易</p>
        </div>
      </div>
      <div class="middle">
        <p>广州市协雄贸易有限公司 | zxc220000075@gmail.com</p>
      </div>
    </div>
  </div>
</body>
</html>
