
<!DOCTYPE html>
<html>
<head>
  <title>爽捷科技</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="pragma" content="no-cache">
  <!-- <meta name="viewport" content="width-device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no, minimal-ui"> -->
  <link rel="stylesheet" type="text/css" href="../../css/index.css">
  <link rel="stylesheet" type="text/css" href="../../css/reset.css">
</head>
<body>
  <div class="header">
    <div class="logo">
      <div class="logo-text" onclick="javascript: window.location='../home.html';">
       <span>简单，创新</span>
        <span>爽捷科技</span>
      </div>
    </div>
    <ul class="nav clear_float header_a">
      <li>
        <a href="../home.html">首页</a>
      </li>
      <li>
        <a href="../posts/index.html">产品</a>
      </li>
      <li>
        <a href="index.html">关于</a>
      </li>
      <li>
        <a href="contact.html">联系我们</a>
      </li>
    </ul>
  </div>
  <div class="body">
    <div class="content">
    	<div class="about">
            <div>
                <div class="about-left">
                关于爽捷
                </div>
                <diiv class="about-right">
                    《东莞市爽捷电子有限公司》主要生产和销售摇头开关、翘板开关、滑动开关、按键开关、编码开关、轻触开关、微动开关、AC插座、耳机插座、DC插座、连接器、电位器等系列。
                    <br/>
                    <br/>
                    产品均获取欧盟UL/TUV/CQC等认证。我们为客户提供环保、安全、放心、健康的产品是我们始终不变的追求。

                </diiv>
            </div>
            <div class="clear_float"></div>

            <div class="bottom">
                <div class="about-left">
                        公司文化
                </div>
                <diiv class="about-right">
                    “客户至上，品质第一，服务第一。”
                    <br/><br/>
                    “开放，创新,  朴素”
                  </diiv>
              </div>
              <div class="clear_float"></div>
              <div class="bottom">
                  <div class="about-left">
                          公司宗旨
                  </div>
                  <diiv class="about-right">
                      我司一直坚持以“客户至上，品质第一”的经营宗旨和现代化的管理体系严格组织生产和销售，拥有一支优秀的经营团队，本着“诚实创新，追求卓越”的宗旨，以稳健踏实的脚步前进，赢得客户的信赖与肯定。
                    </diiv>
                </div>
                <div class="clear_float"></div>
    	</div>
    </div>
  </div>
  <div class="footer">
    <div class="content">
      <div class="left">
        <div class="middle-text">
          <p>爽捷科技</p>
          <p class="phone">13802401039</p>
        </div>
      </div>
      <div class="middle">
        <p>东莞市爽捷电子有限公司 |  13802401039@163.com</p>
      </div>
    </div>
  </div>
</body>
