
<!DOCTYPE html>
<html>
<head>
  <title>爽捷科技</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="pragma" content="no-cache">
  <link rel="shortcut icon" href="../../source/favicon.ico">
  <!-- <meta name="viewport" content="width-device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no, minimal-ui"> -->
  <link rel="stylesheet" type="text/css" href="../../css/index.css">
  <link rel="stylesheet" type="text/css" href="../../css/reset.css">
</head>
<body>
  <div class="header">
    <div class="logo" onclick="javascript: window.location.href='../home.html';">
      <div class="logo-text">
       <span>广州协雄贸易</span>
       <span>有限公司</span>
      </div>
    </div>
    <ul class="nav clear_float header_a">
      <li>
        <a href="../home.html">首页</a>
      </li>
  <!--     <li>
        <a href="../posts/index.html">产品</a>
      </li> -->
      <li>
        <a href="index.html">关于</a>
      </li>
      <li>
        <a href="contact.html">联系我们</a>
      </li>
    </ul>
  </div>
  <div class="body">
    <div class="content">
    	<div class="about">
            <div>
                <div class="about-left">
                关于协雄
                <br/>
                (about xiexiong)
                </div>
                <diiv class="about-right">
                    《广州市协雄贸易有限公司》专业生产日常用品，欢迎新老客户定制。
                    <br/>
                    <br/>
                    为客户提供环保、安全、放心、健康的产品是我们始终不变的追求。

                </diiv>
            </div>
            <div class="clear_float"></div>

            <div class="bottom">
                <div class="about-left">
                        公司文化
                </div>
                <diiv class="about-right">
                    “客户至上，品质第一，服务第一。”
                    <br/><br/>
                    “开放，创新,  朴素”
                  </diiv>
              </div>
              <div class="clear_float"></div>
              <div class="bottom">
                  <div class="about-left">
                          公司宗旨
                  </div>
                  <diiv class="about-right">
                      我司一直坚持以“客户至上，品质第一”的经营宗旨和现代化的管理体系严格组织生产和销售，拥有一支优秀的经营团队，本着“诚实创新，追求卓越”的宗旨，以稳健踏实的脚步前进，赢得客户的信赖与肯定。
                    </diiv>
                </div>
                <div class="clear_float"></div>
    	</div>
    </div>
  </div>
  <div class="footer">
    <div class="content">
      <div class="left">
        <div class="middle-text">
          <p>协雄贸易</p>
        </div>
      </div>
      <div class="middle">
        <p>广州市协雄贸易有限公司 | zxc220000075@gmail.com</p>
      </div>
    </div>
  </div>
</body>
